.Calendar {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 40px 1fr;
  margin-right: 15px;
}

.Calendar-timelineContainer {
  width: 30px;
}

.Calendar-content {
  width: 100%;
  position: relative;
}
