.CalendarBackground {
  display: grid;
  min-width: 350px;
  border-left: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.CalendarBackground-cell {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
